@import "./colar.css";
@import "./layout.css";
@import "./masonry.css";
@import "./pricing.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	/* Chrome, Safari and Opera */
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}

	.no-scrollbar {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}

	.absolute-center-xy {
		position: absolute;
		top: 50%;
		left: 50%;
		@apply -translate-x-1/2;
		@apply -translate-y-1/2;
	}

	.absolute-center-y {
		position: absolute;
		top: 50%;
		@apply -translate-y-1/2;
	}

	.flex-center-xy {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.reset-input {
		border-color: transparent;
	}
	.reset-input:focus {
		border-color: transparent;
		@apply ring-0;
		@apply outline-0;
	}

	.cbtn {
		@apply rounded-full;
		@apply py-2;
		@apply px-8;
		@apply text-white;
		@apply transition;
		@apply border-none;
	}

	.cbtn-primary {
		@apply bg-sky-500;
		@apply hover:bg-sky-700;
		@apply active:bg-violet-300;
	}

	.cbtn-secondary {
		@apply bg-violet-500;
		@apply hover:bg-violet-700;
		@apply active:bg-violet-300;
	}

	.cbtn-primary.cbtn-invert {
		@apply text-sky-500;
		@apply border;
		@apply border-sky-500;
		@apply bg-white;
		@apply hover:bg-sky-700;
		@apply hover:text-white;
	}

	.cbtn-secondary.cbtn-invert {
		@apply text-violet-500;
		@apply border;
		@apply border-violet-500;
		@apply bg-white;
		@apply hover:bg-violet-700;
		@apply hover:text-white;
	}
}

::view-transition-old(page) {
	animation: 300ms ease-out both full-slide-to-left, 300ms ease-out both fade-out;
}

::view-transition-new(page) {
	animation: 300ms ease-out both full-slide-from-right 250ms, 300ms ease-out both fade-in 250ms;
}

@keyframes full-slide-from-right {
	from {
		transform: translateX(30px);
	}
}

@keyframes full-slide-to-left {
	to {
		transform: translateX(-30px);
	}
}

@keyframes fade-out {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
